body {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  
}

h1, h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  text-transform: uppercase;

}
h2:hover {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: red;
}

#scoreDisplay {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight:bold;
  text-transform: uppercase;
  color: darkblue;

}

.kolom {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: flex-end;
}

.gieterbox {
display: flex;
width: 25vw;
}

.container {
  padding-top: 270px;
  padding-right: 350px;
  height: 150px;
  display: flex;
  width: 75vw;
  justify-content: center;
  align-items: flex-end;
}

.container img {
  margin: 0 5px; /* Add margin to all sides of each image */
}
  
/* #waterButton, #waterButton2, #waterButton3 {
  padding: 10px;
  font-size: 16px;
  background-color: red;
  color: #fff;
} */

#audioButton {
  background-color: rgb(49, 142, 255); /* Background color */
  border-radius: 5em;
  border: none;
  width: 100px; 
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 50%; /* om dat ding i het midden te krijgen van de pagina */
  left: 50%; 
  transform: translate(-50%, -50%); /* Adjust its position to center it perfectly */
  

}
audio {
  margin-left: 20px;
}

#dragImage {
  position: absolute;
  cursor: pointer;
}


#rups {
  display: none; /* Initially hide the rups image */
  border: red 10px dotted;
  position: absolute; /* Position the rups image relative to the viewport */
  top: 77%; /* Position the rups image vertically centered */
  left: 25%; /* Position the rups image horizontally centered */
  width: 175px; /* Set the width of the rups image */
}

#rups:hover {
    transform: scale(1.3);
}

/* game over */

#customAlert {
  display: none;
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#customAlert img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 3.7em;

}

#customAlert p {
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  opacity: 0.6;
  top: 50%;
}

